.container {
    position: relative;
    margin:0 auto;
    max-width: 64rem;
}

.form {
    position: relative;
    margin: 2rem auto;
}

.done {
    text-decoration: line-through;
    color: fuchsia;
}

.field {
    text-align: center;
}

label {
    text-align: center;
}

span {
    font-size: 1.9rem;
}

.button {
    font-size: 0.6rem;
}