.container {
    position: relative;
    margin:0 auto;
    max-width: 64rem;
    background-image: url("/assets/images/paper_bg.jpg");
    font-family:"arial", "openSans";
    padding-right: 15px;
    padding-left: 15px;
}

form {
    text-align: center;
    margin-top: 25px;
}

form.form-group {
    position: relative;
}

.form-control {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.done {
    text-decoration: line-through;
    color: fuchsia;
}

label {
    text-align: center;
}





