.panel {
    min-height: 600px;
}

.panel-primary {
    border: 0 solid transparent;
}

.panel-primary>.panel-heading {
    background-color: #92D410;
    border: 0 solid transparent;
}

.panel-title {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 25px;
}

form.form-group {
    position: relative;
}

.form-control {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.done {
    text-decoration: line-through;
    color: fuchsia;
}

label {
    text-align: center;
}
