<div class="container">
    <form name="frm" ng-submit="addTask()">
        <div class="form-group">
            <label for="newTask">Do Something</label>
            </br>
            <input class="form-control" type="text" name="newTask" placeholder="Add a task..." ng-model="newTask.title" required />
        </div>
    </form>
    <div>
        <ul class="list">
            <li ng-repeat="Task in Tasks | filter: expired" ng-hide="Task.isExpired || Task.done">
                <input type="checkbox" ng-model="Task.done" ng-change="updateTaskItem(Task)" />
                <!--CSS Line-through isn't working for '.done' class -->
                <span ng-class="{done: Task.done}">{{Task.title}}</span>
            </li>
        </ul>
    </div>
</div>